<?php

namespace {{NAMESPACE}};

use {{INTERFACE_PATH}};

/**
 * Class {{MODEL}}
 *
 * @package {{VENDOR}}\{{MODULE_NAME}}
 */
class {{MODEL}} extends \Magento\Framework\Model\AbstractModel implements {{INTERFACE_NAME}}
{
    protected function _construct()
    {
        $this->_init({{RESOURCE_MODEL}}::class);
    }

{{FUNCTIONS}}
}
