
    /**
     * @param {{PARAMS}}
     *
     * @return $this
     */
    public function set{{FUNCTION_NAME}}({{ARGUMENTS}})
    {
        return $this->setData(self::{{KEY_NAME}}, {{ARGUMENT}});
    }
