    /**
     * @param \Magento\Framework\Setup\SchemaSetupInterface $setup
     *
     * @throws \Zend_Db_Exception
     */
    private function {{FUNCTION_NAME}}(SchemaSetupInterface $setup)
    {
        {{FUNCTION}}
    }
