    /**
     * @return {{RETURNS}}
     */
    public function get{{FUNCTION_NAME}}();

    /**
     * @param {{PARAMS}}
     *
     * @return $this
     */
    public function set{{FUNCTION_NAME}}({{ARGUMENTS}});
